@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&display=swap');

body{
    

    display: flexbox;
    justify-content: center;
    /* width: 100vw; */
    /* height: 100vh; */
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); */
    background-size: cover;

}
.container{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);


    /* height: 200px; */
    border:1px solid grey;
    border-radius: 40px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 50px 100px ;
    padding:7vw;
    border-radius: 1px;
    box-shadow: 0px 0px 10px 0.1px black;
    z-index: 1;

    
}

.container form{
    width: 350px;
    
}

.container input[type=text] {
    
    display: block;
    width:94%;
    padding: 5px 10px;
    margin: 10px 0px;
    /* background-color: rgba(99, 67, 100, 0.534); */
    border: 1px solid transparent;
}
.container input[type=email] {
    
    display: block;
    width:94%;
    padding: 5px 10px;
    margin: 10px 0px;
    /* background-color: rgba(99, 67, 100, 0.534); */
    border: 1px solid transparent;
}

.btn{
    width: 100%;
    background-color: pink ;
    padding: 5px 15px;
    border-radius: 2px;
    border: 1px solid transparent ;
    cursor: pointer;
    border-radius: 4px;
   
}
.link{
    margin-top: 2px;
    text-decoration: none;
    color:blueviolet;
}
.options{
    font-size: 0.8em;
    margin-top: 10px;
    display:inline-flexbox;

}

.form-container{
    display: block;
    justify-content: center;

}

.login-btn{
    background-color: aqua;
}



.likebtn{
    border: none;
    padding: 0;
    outline: none;
    background: none;
}

.main-container{
    margin-top: 20px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    /* background-color: blue; */
}

.prof-pic-container{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 400px;
    background-size: cover;

}
.info-section{
    padding: 10px;
    /* background-color: pink; */
    display: flex;
    justify-content:space-evenly;
}
.post-section{
    padding: 10px;
    margin-top: 30px;
    /* background-color: #85FFBD; */
    display: flex;
    justify-content: space-evenly;
}

.user-follow{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    
}

.user-follow li{
    list-style: none;
    margin: 10px;
}

.username-caption-container{
    margin-top: 5px;
}

.user-details{
    width: 50%;
}
.line-breaker{
    margin: 20px 0px;
    border: 1px solid pink;
    width: 100%;
}
.center-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.post-collage-container{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    /* background-color: pink; */

}
.likes-card{
    display: none;
    /* display: flex; */
    
}

.image-card{
    padding: 20px;
    display: flex;
    /* border-radius: 100px; */
    /* border: 1px solid black; */
    justify-content: center;

}

.image-card img{
    border-radius: 10px;
}


.image-card:hover{
    transform: scale(1.1);
    transition-timing-function: linear;
    transition-duration: 300ms;
    
}

.image-card:hover{
    /* opacity: 0.7; */
    background-color: grey;
    cursor: pointer;
    
}

.image-card:hover > .post-image {
    opacity: 0.3;
    

    
}
.likes-card p{
    opacity: 1;
}

.image-card:hover > .likes-card{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}




