@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&display=swap');

body{
    

    display: flexbox;
    justify-content: center;
    /* width: 100vw; */
    /* height: 100vh; */
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); */
    background-size: cover;

}
.container{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);


    /* height: 200px; */
    border:1px solid grey;
    border-radius: 40px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 50px 100px ;
    padding:7vw;
    border-radius: 1px;
    box-shadow: 0px 0px 10px 0.1px black;
    z-index: 1;

    
}

.container form{
    width: 350px;
    
}

.container input[type=text] {
    
    display: block;
    width:94%;
    padding: 5px 10px;
    margin: 10px 0px;
    /* background-color: rgba(99, 67, 100, 0.534); */
    border: 1px solid transparent;
}
.container input[type=email] {
    
    display: block;
    width:94%;
    padding: 5px 10px;
    margin: 10px 0px;
    /* background-color: rgba(99, 67, 100, 0.534); */
    border: 1px solid transparent;
}

.btn{
    width: 100%;
    background-color: pink ;
    padding: 5px 15px;
    border-radius: 2px;
    border: 1px solid transparent ;
    cursor: pointer;
    border-radius: 4px;
   
}
.link{
    margin-top: 2px;
    text-decoration: none;
    color:blueviolet;
}
.options{
    font-size: 0.8em;
    margin-top: 10px;
    display:inline-flexbox;

}

.form-container{
    display: block;
    justify-content: center;

}

.login-btn{
    background-color: aqua;
}



.likebtn{
    border: none;
    padding: 0;
    outline: none;
    background: none;
}