@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&display=swap');

body{
    
    width: 100vw;
    display: flexbox;
    justify-content: center;
    /* width: 100vw; */
    /* height: 100vh; */
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); */
    background-size: cover;

}
.container{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);


    /* height: 200px; */
    border:1px solid grey;
    border-radius: 40px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 50px 100px ;
    padding:7vw;
    border-radius: 1px;
    box-shadow: 0px 0px 10px 0.1px black;
    z-index: 1;

    
}

.container form{
    width: 350px;
    
}

.container input[type=text] {
    
    display: block;
    width:94%;
    padding: 5px 10px;
    margin: 10px 0px;
    /* background-color: rgba(99, 67, 100, 0.534); */
    border: 1px solid transparent;
}
.container input[type=email] {
    
    display: block;
    width:94%;
    padding: 5px 10px;
    margin: 10px 0px;
    /* background-color: rgba(99, 67, 100, 0.534); */
    border: 1px solid transparent;
}

.btn{
    width: 100%;
    background-color: pink ;
    padding: 5px 15px;
    border-radius: 2px;
    border: 1px solid transparent ;
    cursor: pointer;
    border-radius: 4px;
   
}
.link{
    margin-top: 2px;
    text-decoration: none;
    color:blueviolet;
}
.options{
    font-size: 0.8em;
    margin-top: 10px;
    display:inline-flexbox;

}

.form-container{
    display: block;
    justify-content: center;

}

.login-btn{
    background-color: aqua;
}



.likebtn{
    border: none;
    padding: 0;
    outline: none;
    background: none;
}

.main-container{
    margin-top: 20px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    /* background-color: blue; */
}

.prof-pic-container{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 400px;
    background-size: cover;

}
.info-section{
    padding: 10px;
    /* background-color: pink; */
    display: flex;
    justify-content:space-evenly;
}
.post-section{
    padding: 10px;
    margin-top: 30px;
    /* background-color: #85FFBD; */
    display: flex;
    justify-content: space-evenly;
}

.user-follow{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    
}

.user-follow li{
    list-style: none;
    margin: 10px;
}

.username-caption-container{
    margin-top: 5px;
}

.user-details{
    width: 50%;
}
.line-breaker{
    margin: 20px 0px;
    border: 1px solid pink;
    width: 100%;
}
.center-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.post-collage-container{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    /* background-color: pink; */

}
.likes-card{
    display: none;
    /* display: flex; */
    
}

.image-card{
    padding: 20px;
    display: flex;
    /* border-radius: 100px; */
    /* border: 1px solid black; */
    justify-content: center;

}

.image-card img{
    border-radius: 10px;
}


.image-card:hover{
    transform: scale(1.1);
    transition-timing-function: linear;
    transition-duration: 300ms;
    
}

.image-card:hover{
    /* opacity: 0.7; */
    background-color: grey;
    cursor: pointer;
    
}

.image-card:hover > .post-image {
    opacity: 0.3;
    

    
}
.likes-card p{
    opacity: 1;
}

.image-card:hover > .likes-card{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

/* .chat-container{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid grey;
    padding: 20px; 
    display: flex;S
    flex-direction: row;
} */

/* .chat-container .left-container{
    padding:20px;
    width: 40%;
    border-right: 1px solid black;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


.chat-container .right-container{
    padding: 20px 20px 20px 20px;
    width: fit-content;
    border-right: 1px solid black;
    height: 70vh;
    overflow-y: scroll;
} */

.chat-grid-container{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 70vh;
    display: grid;
    border: 1px solid black;
    grid-template-columns: auto auto;
}

.message-summ-area{
    overflow-y: scroll;
}

.username-area{
    border-bottom: 1px solid grey;
}

.response-username-are{
    border-bottom: 1px solid grey;
}

.all-messages-area{
    border-top: 1px solid black;
    overflow-y: scroll;
    /* display: flex; */
}


.message-home{
    /* margin-top: 10px; */
    margin: 10px 10px 10px 10px;
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    padding: 40px;
    /* height: 83vh; */
    overflow:hidden;
    /* background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
    background-color: skyblue;
    
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
}



.main-message-area{
    padding: 20px;
    display:grid;
    grid-template-columns: 1fr 2fr;


}
.chat-list{
    /* border: 1px solid black; */
    margin: 50px;
    padding: 50px;
}


.chat-list-item{
    /* border: 1px solid black; */
    border-radius: 5px;
    /* margin: 2px; */
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.chat-list-item .text-area{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.profile-pic-container{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 5px;
    border: 1px solid transparent;
}

.left-chat-list{
    height: 60%;
    overflow-y: scroll;
}

.right-full-chat{
    margin-left: 30px;
    width: 100%;
}

.profile-top-bar{
    height: 40px;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}


.profile-top-bar .profile-pic-container{
    margin-right: 20px;
}

.message-item-sender{
    background: #8E2DE2; 
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2); 
    display: flex;
    margin: 10px;
    padding:2px 6px;
    border-radius: 5px;
    width:min-content;
    /* width: 100%; */
    /* max-width: 40%; */
    white-space: normal;
    word-wrap: break-word;
    line-break:strict;

    /* overflow-y: scroll; */
}
.message-item-receiver{
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    margin: 10px;
    width: 100%;
    line-break:strict;

    padding:2px 6px;
    border-radius: 5px;
    width:min-content;
    /* max-width: 40%; */
    white-space: normal;
    word-wrap: break-word;
    line-break: loose;
    position: relative;
    right: 0;

    
}

.message-item-sender p{
    max-width: 50%;

}