@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    display: flexbox;
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    width: 100%;
    background-color: aquamarine;
    height: 10vh;
    display: flex;
    padding-top: auto;
    padding-bottom: auto;
    position: sticky;
    justify-content: center;
    overflow:visible;
    
}

.nav-box{
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.navbar .nav-box .options-box i{
    margin: 10px;
    transition: transform .2s;
    
}

.navbar .nav-box .options-box i:hover{
    transform: scale(1.2);
    color: #C9485B;
}
.navbar{
    font-size: 1.5em;
    
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.navbar .nav-box .search-box input{
    background-color: #EFEFEF;
    border: 2px solid transparent;
    width: 300px;
    height: 4vh;
    border-radius: 4px;
    padding: 15px;
    
}
.navbar .nav-box .search-box input:focus{
    outline: none;
    
}

.navbar .nav-box .logo-box {
    font-family: cursive;
}

.navbar .nav-box .options-box a{
    color:white;

    
}
.navbar .nav-box .options-box  i{
    color: white;
}

.dropdown{
    
    position:inherit;
    display: inline-block;
    
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    
}

.dropdown-content li{
    color:black;
    list-style: none;
    font-size: small;
    margin: 10px;
}